

body {
    background-color: rgb(5, 4, 4);
    color: white
}
.likes {
    font-size: 23.5px;
}
a {
    color: white;
    text-decoration: none;
}

form p {
    font-size: 21px;
    font-weight: 400;
   
}

#post_text {
    border: 2px solid black;
    border-radius: 4px;
}

p {
    margin-bottom: 2px;
}

.icon {
    cursor: pointer;
}

.date {
    font-size: 12px;
}

.post {
    font-size: 30px;
}

.user {
   font-size: 27px;
   padding-top: -10px;
}

button {
    background-color: rgb(100, 179, 185);
    border-radius: 5px;
    color: black;
}

.displayNav {
    display: none;
}

.black {
    color: black
}

.black:hover {
    color: black;
}

@media (max-width: 720px) {
 .body {
    margin: 0px 10px;
 }

 .likes {
    position: relative;
    top: -3.5px;
    font-size: 18px;
    margin-top: -80px;
 }

}
